:root {
    --inline-to-dropdown-gap: 20px;
}

.inline-to-dropdown {
    display: flex;
    width: 100%;
    gap: var(--inline-to-dropdown-gap);

    &:not(.js-dropdown-has-children) {
        .inline-to-dropdown__dropdown {
            display: none;
        }
    }
}

.inline-to-dropdown__group {
    display: flex;
    overflow-x: hidden;
    min-width: 0;
    white-space: nowrap;
    gap: var(--inline-to-dropdown-gap);
}

.inline-to-dropdown__dropdown {
    flex: 0 0 auto;
}

.inline-to-dropdown__menu {
    .inline-to-dropdown__item {
        display: block;
    }
}

// Adjust overflow on page load
.inline-to-dropdown {
    &.js-inline-to-dropdown--loaded {
        .inline-to-dropdown__group {
            overflow: visible;
        }
    }
}

// Adjust overflow on page resize
.js-window-resizing {
    .inline-to-dropdown {
        .inline-to-dropdown__group {
            overflow: hidden;
        }
    }
}